.contaner
  .contaner__left
    .left-header
      .left-header__user seo
      %ul.left-header__menu
        %li.left-header__menu__edit
          %i.fa.fa-cog
        %li.left-header__menu__new-group
          %i.fa.fa-edit
    .left-body
      .left-body__group
        %p.left-body__group__name sample
        %p.left-body__group__message Good bye world
      .left-body__group
        %p.left-body__group__name sample
        %p.left-body__group__message Good bye world
  .contaner__right
    .right-header
      .right-header__group
        %p.right-header__group__name sample
        %p.right-header__group__member Members : seo neko
      %a
        .right-header__edit Edit
    .right-body
      .right-body__user
        %p.right-body__user__name seo
        %p.right-body__user__date 2019/07/08
        %p.right-body__user__comment Hello world
      .right-body__user
        %p.right-body__user__name seo
        %p.right-body__user__date 2019/07/08
        %p.right-body__user__comment Hello world
    .right-footer
      .right-footer__form
        %form
          .right-footer__form__box
            %input.right-footer__form__box__text{placeholder: "input message", type: "text"}/
            .right-footer__form__box__img
              %i.fa.fa-image.fa-lg
          %input.right-footer__form__send{type: "submit", value: "Send"}/
