<div class ="contaner">
    <div class="contaner__left">
        <div class = "left-header">
            <div class = "left-header__user">seo</div>
            <ul class = "left-header__menu">
                <li class = "left-header__menu__edit"><i class="fas fa-cog"></i></li>
                <li class = "left-header__menu__new-group"><i class="fas fa-edit"></i></li>
            </ul>
        </div>
        <div class ="left-body">
            <div class ="left-body__group">
                <p class = "left-body__group__name">sample</p>
                <p class = "left-body__group__message">Good bye world</p>
            </div>
            <div class ="left-body__group">
                <p class = "left-body__group__name">sample</p>
                <p class = "left-body__group__message">Good bye world</p>
            </div>
        </div>
    </div>
    <div class="contaner__right">
        <div class="right-header">
            <div class = "right-header__group">
                <p class = "right-header__group__name">sample</p>
                <p class = "right-header__group__member">Members : seo neko</p>
            </div>
            <a>
                <div class="right-header__edit">Edit</div>
            </a>
        </div>
        <div class="right-body">
            <div class="right-body__user">
                <p class="right-body__user__name">seo</p>
                <p class="right-body__user__date">2019/07/08</p>
                <p class="right-body__user__comment">Hello world</p>
            </div>
            <div class="right-body__user">
                <p class="right-body__user__name">seo</p>
                <p class="right-body__user__date">2019/07/08</p>
                <p class="right-body__user__comment">Hello world</p>
            </div>
        </div>
        <div class="right-footer">
            <div class="right-footer__form">
                <form>
                    <div class="right-footer__form__box">
                        <input class="right-footer__form__box__text" type="text" placeholder="input message">
                        <div class="right-footer__form__box__img"><i class="far fa-image fa-lg"></i></div>
                    </div>
                    <input class="right-footer__form__send" type="submit" value="Send">
                </form>
            </div>
        </div>
    </div>
</div>
    