

.right-footer{
  height:90px;
  width:100%;
  background-color: #dddddd;
  box-sizing: border-box;
  padding:20px 40px;
  &__form{
    height: 100%;
    &__box{
      position: relative;
      height:100%;
      width:calc(100% - 115px);
      box-sizing: border-box;
      background-color: #ffffff;
      &__text{
        width:calc(100% - 10px);
        height:50px;
        padding-left:10px;
        line-height: 50px;
        font-size: 16px;
        color: #434a54;
        float: left;
        border:none;
      }
      &__img{
        position: absolute;
        width:25px;
        height:50px;
        line-height:50px;
        padding-right:10px;
        right:0;

      }
    }
    &__send{
      height:50px;
      width:100px;
      background-color: #38aef0;
      color:#ffffff;
      margin-left:15px;
      float: right;
      box-sizing: border-box;
    }
  }
}

.image{
  font-size: 1.3rem;
  cursor: pointer;
}

.hidden{
  width:0;
}